.shop-page {
    height: 100%;
    width: 100%;
    padding: 40px 0;
}

.shop-page__list {
    padding: 0 10px;
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    width: 800px;
    overflow-x: scroll;
    max-height: 800px;
}

.shop-item {
    border-radius: 8px;
    background-color: bisque;
    margin-right: 20px;
    margin-bottom: 40px;
    width: 240px;
    overflow: hidden;
}

.shop-item__info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 20px 10px 0;
}

.shop-item__photo {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.shop-item__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.shop-item__info p,
.shop-item__info h3 {
    padding: 0;
    margin: 0;
}

.shop-item__controls {
    padding: 10px 10px 20px 10px;
}

.cart {
    width: 320px;
    align-self: start;
    background-color: blanchedalmond;
    padding: 10px;
}

.cart-item {
    display: flex;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 2px 0 grey;
    border-radius: 5px;
    justify-content: space-between;
}

.cart-item + .cart-item {
    margin-top: 10px;
}

.cart-item__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.cart-item__block {
    text-align: right;
}

.cart-item__title {
    margin: 0;
    padding: 0;
}

.cart-item__count-input {
    width: 30px;
    margin-left: 20px;
}

.cart__controls {
    margin-top: 20px;
}

.cart__list {
    overflow: scroll;
    max-height: 600px;
}